.myTeam
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.myTeam_img
    margin-top: 3rem
    margin-bottom: 3rem

.myTeam_title
    text-align: center
    font-family: "Gamer"
    font-size: 24pt
    letter-spacing: 3px
    font-weight: 500
    line-height: 30px
    h2:first-child
        color: black
    h2:last-child
        color: white
        