<app-header></app-header>
<div class="home_container">
    <div class="home_title">
        <h2>Bienvenido <br>
            a la PokeDex</h2>
    </div>
    <div >
        <a href="Pokemones" class="home_buttons"><img src="./assets/img/control.svg" alt="Joystick" class="home_icon">
            <h2>POKEMON</h2>
        </a>
        <a href="Team" class="home_buttons"><img src="./assets/img/control.svg" alt="Joystick" class="home_icon">
            <h2>EQUIPO</h2>
        </a>
    </div>
</div>
<app-footer></app-footer>