<app-menu></app-menu>
<form action="" onsubmit="searchPokemon(event)" class="poke_form">
    <input type="text" name="pokemon" autocomplete="off">
    <button type="submit"> BUSCAR </button>
</form>
<div data-poke-card class="poke_card">
    <div class="poke_id">
        <h2 data-poke-name>Pokedex</h2>
        <div data-poke-img-container class="img-container">
            <img data-poke-img class="poke_img" src="assets/img/pokebola_buscador.png">
        </div>
        <h2 data-poke-id></h2>
    </div>
    <div class="poke_stats">
        <div class="poke_weight">
            <img alt="heavy" src="assets/img/heavy.svg" data-poke-weight-img>
            <h2 data-poke-weight></h2>
        </div>
        <div class="poke_height">
            <img src="assets/img/rule.svg" alt="height" data-poke-height-img>
            <h2 data-poke-height></h2>

        </div>

        <h2 data-poke-types class="poke_types"></h2>
        <h2 data-poke-stats></h2>
    </div>
</div>
<app-footer></app-footer>